@import "tailwindcss";

@theme {
  --color-primary: #58C0ED;
  --color-secondary: #1F2D42;
  --color-main: #525353;
  --color-mute: #F5F6F7;
  --color-disabled: #D1D4D6;
  --color-error: #D64650;
  --color-white: #FFFFFF;
  --color-border: #D2D4D6;
  --color-ash: #edeff0;
  --color-cyan: #58C0EC;
  --color-gray: #707070;
  --color-success: green;
  --color-orange: #f57f17;
  --color-danger: #bb002f;
}
