.ant-picker{
  position: relative;
  height: 40px;
  display: flex !important;
  padding-right: 0 !important;
  padding-left: 7px;
}
.ant-picker .ant-picker-input{
  height: inherit;
}
.ant-picker .ant-picker-suffix{
  position: absolute;
  background-color: var(--color-primary);
  top:0;
  right:0;
  width: 36px;
  height: 100%;
  color: var(--color-white);
  text-align: center;
  padding-top: 1px;
  cursor: pointer;
  transition: .3s;
  border-radius: 0 5px 5px 0;
}
.ant-picker .ant-picker-suffix svg{
  width: 18px;
  height: 18px;
  cursor: pointer;
}
/* .ant-picker .ant-picker-suffix:hover,
.ant-picker.ant-picker-focused .ant-picker-suffix{
 background-color: var(--color-primary-deep);
} */
.ant-picker-cell .ant-picker-cell-inner{
  width: 26px;
  height: 26px;
  border-radius: 1px;
  line-height: 26px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner, .ant-picker-time-panel-column > li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner{
  background-color: var(--color-primary-deep);
  color: var(--color-white);

}

.ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner, .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end) .ant-picker-cell-inner,
.ant-picker-time-panel-column > li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner:hover{
  background-color: var(--color-primary);
  color: var(--color-white);
}

.ant-picker-clear{
  opacity: 1;
  background-color: transparent;
  color: #D64650;
  right:36px;
  cursor: pointer;
  padding: 4px;
  z-index: 5;
}
.ant-picker-clear:hover{
  color: #D64650;
}
.ant-btn-primary{
  background-color: var(--color-primary) !important;
  background: var(--color-primary) !important;
  padding:0 14px;
  line-height: 1;
}
.ant-empty-image{
  display: none;
}
.ant-table-thead > tr > th{
  background-color: var(--color-white);
}
.ant-table-content tr > th{
  padding:19px 15px;
}
.ant-table{
  color: var(--color-main);
}
.ant-picker:hover, .ant-picker-focused{
  box-shadow: none;
  border-color: var(--color-main);
  border-right-color: transparent !important;
}
.ant-picker{
  border-radius: 5px;
}
.ant-picker:hover .ant-picker-suffix, .ant-picker-focused .ant-picker-suffix{
 background-color: var(--color-primary-deep);

}
.ant-picker-input > input:placeholder-shown{
  font-style: italic;
  font-size: 14px;
  
}
.ant-picker-input>input::placeholder {
  color: var(--color-main);
}
.ant-btn{
  border: 0;
}
.ant-picker-header-view button:hover{
  color: var(--color-primary-deep);
}
.ant-picker-now-btn{
  cursor: pointer;
}
.ant-picker-now-btn:hover{
  color: var(--color-primary-deep);
}
.ant-picker-header-view{
  font-family:'BebasNeuePro-Bold', 'sans-serif';
  color: var(--color-main);
  font-size: 16px;
}
.ant-picker-date-panel .ant-picker-content{
  max-width: 200px;
  width: 200px;
}

.ant-picker-decade-panel, .ant-picker-year-panel, .ant-picker-quarter-panel, .ant-picker-month-panel, .ant-picker-week-panel, .ant-picker-date-panel, .ant-picker-time-panel{
   width: 275px;
}
.ant-picker-time-panel {
  width: 165px;
}
.ant-btn-primary:hover{
  background-color: var(--color-primary-deep);
}
.ant-picker-panel-container{
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #D2D4D6;
  border-radius: 5px;
}
.ant-table{
  box-shadow: 0px 4px 8px #00000029;
  border-radius: 5px;
}
.ant-picker-suffix{
  pointer-events: initial;
}
.ant-picker-header-super-next-btn,
.ant-picker-header-super-prev-btn{
  display: none;
}
.ant-picker-header .ant-picker-header-next-btn,
.ant-picker-header .ant-picker-header-prev-btn{
  /* background-color: var(--color-primary-deep); */
  border-radius: 100%;
  height: 25px;
  width: 25px;
  color: var(--color-main);
  line-height: 25px;
  padding:0;
  text-align: center;
  margin-top: 7px;
  transition:.3s;
}
.ant-picker-header .ant-picker-header-next-btn:hover,
.ant-picker-header .ant-picker-header-prev-btn:hover{
  background-color: var(--color-primary-deep);
  color: var(--color-white);
}
.ant-picker-header .ant-picker-header-prev-btn i{
  margin-left: -4px;
  margin-top: 1px;
}
.ant-picker-header .ant-picker-header-next-btn i{
  margin-left: -4px;
  margin-top: -1.2px;
}
.ant-picker-header .ant-picker-header-next-btn i,
.ant-picker-header .ant-picker-header-prev-btn i{
  line-height: inherit;
}
.ant-picker-header{
  border-bottom: 0;
}
.ant-picker.ant-picker-disabled .ant-picker-suffix{
  cursor: no-drop;
}
.ant-picker-dropdown-range{
  margin-top: -25px;
}
.ant-picker-separator{
  margin-top: -5px;
}
.nub-table-x-overflow .ant-table-content{
  overflow-x: auto;
  overflow-y: visible;
}
.ant-table-cell-fix-right-first::after{
  box-shadow: inset -10px 0 8px -8px rgb(0 0 0 / 15%);
}
.ant-table-content tr > th.text-center,
.ant-table-content tr > td.text-center{
  text-align: center;
}
.ant-picker-range-separator{
  height: 40px;
  position: relative;
  padding: 0;
  width: 1px;
}
.ant-picker-range-separator::before{
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  content: '';
  width: 1px;
  background-color: #D2D4D6;
}
.ant-picker-range-separator .anticon{
  display: none;
}
.ant-picker-range .ant-picker-active-bar{
  margin-left: 0;
}
.ant-picker-range input{
  text-align: center;
}
.ant-picker.ant-picker-range{
  text-align: center;
  padding:0;
}
.ant-picker.ant-picker-range .ant-picker-suffix{
  position: relative;
  min-width: 40px;
  margin-left: 0;
  min-height: 40px;
}
.ant-table-content tr > th{
  white-space: nowrap;
}
.table-no-wrap .ant-table-content tr > td{
  white-space: nowrap;
}